body.override-font.site--entity {
  font-family: BASE_FONT, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Heading */
}
body.override-font.site--entity a {
  font-family: BASE_FONT, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.override-font.site--entity h1,
body.override-font.site--entity h2,
body.override-font.site--entity h3,
body.override-font.site--entity h4,
body.override-font.site--entity h5,
body.override-font.site--entity h6,
body.override-font.site--entity .h1,
body.override-font.site--entity .h2,
body.override-font.site--entity .h3,
body.override-font.site--entity .h4,
body.override-font.site--entity .h5,
body.override-font.site--entity .h6 {
  font-family: TITLE_FONT, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.override-font.site--entity h1 a,
body.override-font.site--entity h2 a,
body.override-font.site--entity h3 a,
body.override-font.site--entity h4 a,
body.override-font.site--entity h5 a,
body.override-font.site--entity h6 a,
body.override-font.site--entity .h1 a,
body.override-font.site--entity .h2 a,
body.override-font.site--entity .h3 a,
body.override-font.site--entity .h4 a,
body.override-font.site--entity .h5 a,
body.override-font.site--entity .h6 a {
  font-family: TITLE_FONT, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
