body.override-color {
  color: TEXT_COLOR;
  background-color: BACKGROUND_COLOR;
  /* Heading */
}
body.override-color .btn-default {
  background: none;
  border-color: TEXT_COLOR;
  color: TEXT_COLOR;
}
body.override-color .btn-default:hover,
body.override-color .btn-default:focus {
  background: TEXT_COLOR;
  color: BACKGROUND_COLOR;
  border-color: TEXT_COLOR;
}
body.override-color a.btn-primary,
body.override-color .btn-primary {
  background: none;
  border-color: PRIMARY_COLOR;
  color: PRIMARY_COLOR;
}
body.override-color a.btn-primary:visited,
body.override-color .btn-primary:visited {
  color: PRIMARY_COLOR;
}
body.override-color a.btn-primary:hover,
body.override-color .btn-primary:hover,
body.override-color a.btn-primary:focus,
body.override-color .btn-primary:focus {
  background: PRIMARY_COLOR;
  color: #ffffff !important;
  border-color: PRIMARY_COLOR;
}
body.override-color a.btn-primary.btn-inverse,
body.override-color .btn-primary.btn-inverse {
  background: PRIMARY_COLOR;
  border-color: PRIMARY_COLOR;
  color: #ffffff !important;
}
body.override-color a.btn-primary.btn-inverse:hover,
body.override-color .btn-primary.btn-inverse:hover,
body.override-color a.btn-primary.btn-inverse:focus,
body.override-color .btn-primary.btn-inverse:focus {
  background: none;
  color: PRIMARY_COLOR !important;
}
body.override-color a.btn-primary.color-1,
body.override-color .btn-primary.color-1 {
  background: none;
  border-color: CUSTOM_COLOR_1;
  color: CUSTOM_COLOR_1;
}
body.override-color a.btn-primary.color-1:visited,
body.override-color .btn-primary.color-1:visited {
  color: CUSTOM_COLOR_1;
}
body.override-color a.btn-primary.color-1:hover,
body.override-color .btn-primary.color-1:hover,
body.override-color a.btn-primary.color-1:focus,
body.override-color .btn-primary.color-1:focus {
  background: CUSTOM_COLOR_1;
  color: #ffffff !important;
  border-color: CUSTOM_COLOR_1;
}
body.override-color a.btn-primary.color-1.btn-inverse,
body.override-color .btn-primary.color-1.btn-inverse {
  background: CUSTOM_COLOR_1;
  border-color: CUSTOM_COLOR_1;
  color: #ffffff !important;
}
body.override-color a.btn-primary.color-1.btn-inverse:hover,
body.override-color .btn-primary.color-1.btn-inverse:hover,
body.override-color a.btn-primary.color-1.btn-inverse:focus,
body.override-color .btn-primary.color-1.btn-inverse:focus {
  background: none;
  color: CUSTOM_COLOR_1 !important;
}
body.override-color a.btn-primary.color-2,
body.override-color .btn-primary.color-2 {
  background: none;
  border-color: CUSTOM_COLOR_2;
  color: CUSTOM_COLOR_2;
}
body.override-color a.btn-primary.color-2:visited,
body.override-color .btn-primary.color-2:visited {
  color: CUSTOM_COLOR_2;
}
body.override-color a.btn-primary.color-2:hover,
body.override-color .btn-primary.color-2:hover,
body.override-color a.btn-primary.color-2:focus,
body.override-color .btn-primary.color-2:focus {
  background: CUSTOM_COLOR_2;
  color: #ffffff !important;
  border-color: CUSTOM_COLOR_2;
}
body.override-color a.btn-primary.color-2.btn-inverse,
body.override-color .btn-primary.color-2.btn-inverse {
  background: CUSTOM_COLOR_2;
  border-color: CUSTOM_COLOR_2;
  color: #ffffff !important;
}
body.override-color a.btn-primary.color-2.btn-inverse:hover,
body.override-color .btn-primary.color-2.btn-inverse:hover,
body.override-color a.btn-primary.color-2.btn-inverse:focus,
body.override-color .btn-primary.color-2.btn-inverse:focus {
  background: none;
  color: CUSTOM_COLOR_2 !important;
}
body.override-color a.btn-primary.color-3,
body.override-color .btn-primary.color-3 {
  background: none;
  border-color: CUSTOM_COLOR_3;
  color: CUSTOM_COLOR_3;
}
body.override-color a.btn-primary.color-3:visited,
body.override-color .btn-primary.color-3:visited {
  color: CUSTOM_COLOR_3;
}
body.override-color a.btn-primary.color-3:hover,
body.override-color .btn-primary.color-3:hover,
body.override-color a.btn-primary.color-3:focus,
body.override-color .btn-primary.color-3:focus {
  background: CUSTOM_COLOR_3;
  color: #ffffff !important;
  border-color: CUSTOM_COLOR_3;
}
body.override-color a.btn-primary.color-3.btn-inverse,
body.override-color .btn-primary.color-3.btn-inverse {
  background: CUSTOM_COLOR_3;
  border-color: CUSTOM_COLOR_3;
  color: #ffffff !important;
}
body.override-color a.btn-primary.color-3.btn-inverse:hover,
body.override-color .btn-primary.color-3.btn-inverse:hover,
body.override-color a.btn-primary.color-3.btn-inverse:focus,
body.override-color .btn-primary.color-3.btn-inverse:focus {
  background: none;
  color: CUSTOM_COLOR_3 !important;
}
body.override-color a.btn-primary.color-4,
body.override-color .btn-primary.color-4 {
  background: none;
  border-color: CUSTOM_COLOR_4;
  color: CUSTOM_COLOR_4;
}
body.override-color a.btn-primary.color-4:visited,
body.override-color .btn-primary.color-4:visited {
  color: CUSTOM_COLOR_4;
}
body.override-color a.btn-primary.color-4:hover,
body.override-color .btn-primary.color-4:hover,
body.override-color a.btn-primary.color-4:focus,
body.override-color .btn-primary.color-4:focus {
  background: CUSTOM_COLOR_4;
  color: #ffffff !important;
  border-color: CUSTOM_COLOR_4;
}
body.override-color a.btn-primary.color-4.btn-inverse,
body.override-color .btn-primary.color-4.btn-inverse {
  background: CUSTOM_COLOR_4;
  border-color: CUSTOM_COLOR_4;
  color: #ffffff !important;
}
body.override-color a.btn-primary.color-4.btn-inverse:hover,
body.override-color .btn-primary.color-4.btn-inverse:hover,
body.override-color a.btn-primary.color-4.btn-inverse:focus,
body.override-color .btn-primary.color-4.btn-inverse:focus {
  background: none;
  color: CUSTOM_COLOR_4 !important;
}
body.override-color a.btn-primary.color-5,
body.override-color .btn-primary.color-5 {
  background: none;
  border-color: CUSTOM_COLOR_5;
  color: CUSTOM_COLOR_5;
}
body.override-color a.btn-primary.color-5:visited,
body.override-color .btn-primary.color-5:visited {
  color: CUSTOM_COLOR_5;
}
body.override-color a.btn-primary.color-5:hover,
body.override-color .btn-primary.color-5:hover,
body.override-color a.btn-primary.color-5:focus,
body.override-color .btn-primary.color-5:focus {
  background: CUSTOM_COLOR_5;
  color: #ffffff !important;
  border-color: CUSTOM_COLOR_5;
}
body.override-color a.btn-primary.color-5.btn-inverse,
body.override-color .btn-primary.color-5.btn-inverse {
  background: CUSTOM_COLOR_5;
  border-color: CUSTOM_COLOR_5;
  color: #ffffff !important;
}
body.override-color a.btn-primary.color-5.btn-inverse:hover,
body.override-color .btn-primary.color-5.btn-inverse:hover,
body.override-color a.btn-primary.color-5.btn-inverse:focus,
body.override-color .btn-primary.color-5.btn-inverse:focus {
  background: none;
  color: CUSTOM_COLOR_5 !important;
}
body.override-color a:hover,
body.override-color a:focus {
  color: PRIMARY_COLOR_HOVER;
}
body.override-color h1,
body.override-color h2,
body.override-color h3,
body.override-color h4,
body.override-color h5,
body.override-color h6,
body.override-color .h1,
body.override-color .h2,
body.override-color .h3,
body.override-color .h4,
body.override-color .h5,
body.override-color .h6 {
  color: HEADING_COLOR;
}
body.override-color h1 a,
body.override-color h2 a,
body.override-color h3 a,
body.override-color h4 a,
body.override-color h5 a,
body.override-color h6 a,
body.override-color .h1 a,
body.override-color .h2 a,
body.override-color .h3 a,
body.override-color .h4 a,
body.override-color .h5 a,
body.override-color .h6 a {
  color: HEADING_LINK_COLOR;
}
body.override-color h1 a:hover,
body.override-color h2 a:hover,
body.override-color h3 a:hover,
body.override-color h4 a:hover,
body.override-color h5 a:hover,
body.override-color h6 a:hover,
body.override-color .h1 a:hover,
body.override-color .h2 a:hover,
body.override-color .h3 a:hover,
body.override-color .h4 a:hover,
body.override-color .h5 a:hover,
body.override-color .h6 a:hover,
body.override-color h1 a:focus,
body.override-color h2 a:focus,
body.override-color h3 a:focus,
body.override-color h4 a:focus,
body.override-color h5 a:focus,
body.override-color h6 a:focus,
body.override-color .h1 a:focus,
body.override-color .h2 a:focus,
body.override-color .h3 a:focus,
body.override-color .h4 a:focus,
body.override-color .h5 a:focus,
body.override-color .h6 a:focus {
  color: HEADING_LINK_COLOR_HOVER;
}
body.override-color h1.color-primary,
body.override-color h2.color-primary,
body.override-color h3.color-primary,
body.override-color h4.color-primary,
body.override-color h5.color-primary,
body.override-color h6.color-primary,
body.override-color .h1.color-primary,
body.override-color .h2.color-primary,
body.override-color .h3.color-primary,
body.override-color .h4.color-primary,
body.override-color .h5.color-primary,
body.override-color .h6.color-primary {
  color: PRIMARY_COLOR;
}
body.override-color h1.color-primary a,
body.override-color h2.color-primary a,
body.override-color h3.color-primary a,
body.override-color h4.color-primary a,
body.override-color h5.color-primary a,
body.override-color h6.color-primary a,
body.override-color .h1.color-primary a,
body.override-color .h2.color-primary a,
body.override-color .h3.color-primary a,
body.override-color .h4.color-primary a,
body.override-color .h5.color-primary a,
body.override-color .h6.color-primary a {
  color: PRIMARY_COLOR;
}
body.override-color h1.color-primary a:hover,
body.override-color h2.color-primary a:hover,
body.override-color h3.color-primary a:hover,
body.override-color h4.color-primary a:hover,
body.override-color h5.color-primary a:hover,
body.override-color h6.color-primary a:hover,
body.override-color .h1.color-primary a:hover,
body.override-color .h2.color-primary a:hover,
body.override-color .h3.color-primary a:hover,
body.override-color .h4.color-primary a:hover,
body.override-color .h5.color-primary a:hover,
body.override-color .h6.color-primary a:hover,
body.override-color h1.color-primary a:focus,
body.override-color h2.color-primary a:focus,
body.override-color h3.color-primary a:focus,
body.override-color h4.color-primary a:focus,
body.override-color h5.color-primary a:focus,
body.override-color h6.color-primary a:focus,
body.override-color .h1.color-primary a:focus,
body.override-color .h2.color-primary a:focus,
body.override-color .h3.color-primary a:focus,
body.override-color .h4.color-primary a:focus,
body.override-color .h5.color-primary a:focus,
body.override-color .h6.color-primary a:focus {
  color: PRIMARY_COLOR;
}
body.override-color .color-1 {
  color: CUSTOM_COLOR_1 !important;
}
body.override-color .color-1 a {
  color: CUSTOM_COLOR_1 !important;
}
body.override-color .color-1 a:visited,
body.override-color .color-1 a:focus,
body.override-color .color-1 a:hover {
  color: CUSTOM_COLOR_1 !important;
}
body.override-color .color-2 {
  color: CUSTOM_COLOR_2 !important;
}
body.override-color .color-2 a {
  color: CUSTOM_COLOR_2 !important;
}
body.override-color .color-2 a:visited,
body.override-color .color-2 a:focus,
body.override-color .color-2 a:hover {
  color: CUSTOM_COLOR_2 !important;
}
body.override-color .color-3 {
  color: CUSTOM_COLOR_3 !important;
}
body.override-color .color-3 a {
  color: CUSTOM_COLOR_3 !important;
}
body.override-color .color-3 a:visited,
body.override-color .color-3 a:focus,
body.override-color .color-3 a:hover {
  color: CUSTOM_COLOR_3 !important;
}
body.override-color .color-4 {
  color: CUSTOM_COLOR_4 !important;
}
body.override-color .color-4 a {
  color: CUSTOM_COLOR_4 !important;
}
body.override-color .color-4 a:visited,
body.override-color .color-4 a:focus,
body.override-color .color-4 a:hover {
  color: CUSTOM_COLOR_4 !important;
}
body.override-color .color-5 {
  color: CUSTOM_COLOR_5 !important;
}
body.override-color .color-5 a {
  color: CUSTOM_COLOR_5 !important;
}
body.override-color .color-5 a:visited,
body.override-color .color-5 a:focus,
body.override-color .color-5 a:hover {
  color: CUSTOM_COLOR_5 !important;
}
