#edit-color-palette > .fieldset-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#edit-color-palette > .fieldset-wrapper > * {
  flex: 1 1 auto;
}
#edit-color-palette > .fieldset-wrapper input {
  padding-left: 2rem;
  height: 30px;
}
