body.override-font.site--entity {

  font-family: BASE_FONT, "Helvetica Neue", Helvetica, Arial, sans-serif;

  a {
    font-family: BASE_FONT, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  /* Heading */
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: TITLE_FONT, "Helvetica Neue", Helvetica, Arial, sans-serif;
    a {
      font-family: TITLE_FONT, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
  
}
