body.override-color {

  color: TEXT_COLOR;
  background-color: BACKGROUND_COLOR;

  .btn-default {
    background: none;
    border-color: TEXT_COLOR;
    color: TEXT_COLOR;
    &:hover, &:focus {
      background: TEXT_COLOR;
      color: BACKGROUND_COLOR;
      border-color: TEXT_COLOR;
    }
  }

  a.btn-primary,
  .btn-primary {
    background: none;
    border-color: PRIMARY_COLOR;
    color: PRIMARY_COLOR;
    &:visited {
      color: PRIMARY_COLOR;
    }
    &:hover, &:focus {
      background: PRIMARY_COLOR;
      color: #ffffff !important;
      border-color: PRIMARY_COLOR;
    }
    &.btn-inverse {
      background: PRIMARY_COLOR;
      border-color: PRIMARY_COLOR;
      color: #ffffff !important;
      &:hover, &:focus {
        background: none;
        color: PRIMARY_COLOR !important;
      }
    }

    &.color-1 {
      background: none;
      border-color: CUSTOM_COLOR_1;
      color: CUSTOM_COLOR_1;
      &:visited {
        color: CUSTOM_COLOR_1;
      }
      &:hover, &:focus {
        background: CUSTOM_COLOR_1;
        color: #ffffff !important;
        border-color: CUSTOM_COLOR_1;
      }
      &.btn-inverse {
        background: CUSTOM_COLOR_1;
        border-color: CUSTOM_COLOR_1;
        color: #ffffff !important;
        &:hover, &:focus {
          background: none;
          color: CUSTOM_COLOR_1 !important;
        }
      }
    }

    &.color-2 {
      background: none;
      border-color: CUSTOM_COLOR_2;
      color: CUSTOM_COLOR_2;
      &:visited {
        color: CUSTOM_COLOR_2;
      }
      &:hover, &:focus {
        background: CUSTOM_COLOR_2;
        color: #ffffff !important;
        border-color: CUSTOM_COLOR_2;
      }
      &.btn-inverse {
        background: CUSTOM_COLOR_2;
        border-color: CUSTOM_COLOR_2;
        color: #ffffff !important;
        &:hover, &:focus {
          background: none;
          color: CUSTOM_COLOR_2 !important;
        }
      }
    }

    &.color-3 {
      background: none;
      border-color: CUSTOM_COLOR_3;
      color: CUSTOM_COLOR_3;
      &:visited {
        color: CUSTOM_COLOR_3;
      }
      &:hover, &:focus {
        background: CUSTOM_COLOR_3;
        color: #ffffff !important;
        border-color: CUSTOM_COLOR_3;
      }
      &.btn-inverse {
        background: CUSTOM_COLOR_3;
        border-color: CUSTOM_COLOR_3;
        color: #ffffff !important;
        &:hover, &:focus {
          background: none;
          color: CUSTOM_COLOR_3 !important;
        }
      }
    }

    &.color-4 {
      background: none;
      border-color: CUSTOM_COLOR_4;
      color: CUSTOM_COLOR_4;
      &:visited {
        color: CUSTOM_COLOR_4;
      }
      &:hover, &:focus {
        background: CUSTOM_COLOR_4;
        color: #ffffff !important;
        border-color: CUSTOM_COLOR_4;
      }
      &.btn-inverse {
        background: CUSTOM_COLOR_4;
        border-color: CUSTOM_COLOR_4;
        color: #ffffff !important;
        &:hover, &:focus {
          background: none;
          color: CUSTOM_COLOR_4 !important;
        }
      }
    }

    &.color-5 {
      background: none;
      border-color: CUSTOM_COLOR_5;
      color: CUSTOM_COLOR_5;
      &:visited {
        color: CUSTOM_COLOR_5;
      }
      &:hover, &:focus {
        background: CUSTOM_COLOR_5;
        color: #ffffff !important;
        border-color: CUSTOM_COLOR_5;
      }
      &.btn-inverse {
        background: CUSTOM_COLOR_5;
        border-color: CUSTOM_COLOR_5;
        color: #ffffff !important;
        &:hover, &:focus {
          background: none;
          color: CUSTOM_COLOR_5 !important;
        }
      }
    }

  }

  a:hover,
  a:focus {
    color: PRIMARY_COLOR_HOVER;
  }

  /* Heading */
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: HEADING_COLOR;
    a {
      color: HEADING_LINK_COLOR;
      &:hover, &:focus {
        color: HEADING_LINK_COLOR_HOVER;
      }
    }
    &.color-primary {
      color: PRIMARY_COLOR;
      a {
        color: PRIMARY_COLOR;
        &:hover, &:focus {
          color: PRIMARY_COLOR;
        }
      }
    }
  }

  .color-1 {
    color: CUSTOM_COLOR_1 !important;
    a {
      color: CUSTOM_COLOR_1 !important;
      &:visited,
      &:focus,
      &:hover {
        color: CUSTOM_COLOR_1 !important;
      }
    }
  }

  .color-2 {
    color: CUSTOM_COLOR_2 !important;
    a {
      color: CUSTOM_COLOR_2 !important;
      &:visited,
      &:focus,
      &:hover {
        color: CUSTOM_COLOR_2 !important;
      }
    }
  }

  .color-3 {
    color: CUSTOM_COLOR_3 !important;
    a {
      color: CUSTOM_COLOR_3 !important;
      &:visited,
      &:focus,
      &:hover {
        color: CUSTOM_COLOR_3 !important;
      }
    }
  }

  .color-4 {
    color: CUSTOM_COLOR_4 !important;
    a {
      color: CUSTOM_COLOR_4 !important;
      &:visited,
      &:focus,
      &:hover {
        color: CUSTOM_COLOR_4 !important;
      }
    }
  }

  .color-5 {
    color: CUSTOM_COLOR_5 !important;
    a {
      color: CUSTOM_COLOR_5 !important;
      &:visited,
      &:focus,
      &:hover {
        color: CUSTOM_COLOR_5 !important;
      }
    }
  }

}
