#edit-color-palette {

  > .fieldset-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      flex: 1 1 auto;
    }

    input {
      padding-left: 2rem;
      height: 30px;
    }

  }
}